<!DOCTYPE HTML>
<html>
  <head>
<style>


a, span {
  display: inline-block;
}
a:hover {
  color: #60b;
}
a:visited {
  color: #f89;
}
.header {
  text-align: center;
}
.autocomplete-wrapper {
  font-size: x-large;
  margin: 1rem;
}
#autoComplete {
  font-size: x-large;
  height: 1.5em;
  border: 0.5rem double rgba(13, 86, 12, 0.3);
}
.result {
  max-width: 80rem;
  padding: 1rem;
  position: relative;
  background-color: rgba(89, 58, 50, 0.1);

  overflow-y: hidden;
  text-overflow: ellipsis;
  max-height: 10rem;

  display: flex;
  flex-wrap: wrap;
}
.result > * {
  flex-grow: 1;
}
.result.long {
  cursor: s-resize;
  box-shadow: 0 -1rem 1rem -1rem inset rgba(49, 12, 23, 0.3);
}
.result.long.open {
  max-height: initial;
  cursor: n-resize;
  box-shadow: initial;
}
.result:nth-child(even) {
  background-color: rgba(161, 168, 180, 0.1);
}
.resultTitle {
  margin: 0.5rem;
  text-align: left;
  width: 100%;
}
.resultDescription {
  text-align: left;
  width: 100%;
}
.matter {
  text-align: left;
  align-self: center;
}
.meetinginfo {
  text-align: left;
  align-self: center;
}
.meetinginfo div:nth-child(1) {
  font-weight: 500;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(200, 100, 110, 0.1);
}
.resultLinks {
  flex-grow: 0;
  align-self: center;
}
.resultLinks a, .resultLinks span {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: large;
  font-weight: 300;
  background-color: rgba(20, 22, 99, 0.1);
  border-radius: 1rem;
  min-width: 7rem;
  text-align: center;
}
.attachments {
  margin: 0 0.5rem;
}
.attachments a {
  margin: 0.1rem;
  padding: 0.1rem;
}
.passed:before {
  content: '\2611';
}

</style>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script>
// Items are indexed by title. If we want to support searching other fields we'd need to rework this
const items = <%ITEMS%>;
const bodies = <%BODIES%>;
const events = <%EVENTS%>;
const maxResults = 50;

const search = (term_) => {
  // Could not find a library that did even basic things like start of word matches being found first
  // This function is kinda dumb but works. Might be good enough?
  const term = term_.toLowerCase();
  const results = [];
  const keys = Object.keys(items);
  const addVals = (k) => {
    //remove the key so it doesn't show in other filters
    keys.splice(keys.indexOf(k), 1);
    results.push(...items[k]);
  };
  //starting with
  keys.filter(key => key.startsWith(term)).forEach(addVals);
  if (results.length > maxResults) {
    return results.slice(0, maxResults);
  }
  //word starts with
  keys.filter(key => key.includes(' ' + term)).forEach(addVals);
  if (results.length > maxResults) {
    return results.slice(0, maxResults);
  }
  //word contains
  keys.filter(key => key.includes(term)).forEach(addVals);
  if (results.length > maxResults) {
    return results.slice(0, maxResults);
  }
  //word contains any
  const terms = term.split(" ");
  keys.filter(key => terms.every((t) => key.includes(t))).forEach(addVals);
  return results.slice(0, maxResults);
}

const makeResultElement = (res) => {
  const event = events[res.eventid];
  const body = bodies[event.body];
  const result = document.createElement('div');
  result.className = 'result';

  //meeting info
  const doctype = document.createElement('div');
  doctype.className = 'meetinginfo';
  const bodyel = document.createElement('div');
  bodyel.textContent = body;
  bodyel.className = 'body b-' + event.body;
  doctype.appendChild(bodyel);
  const datetime = document.createElement('div')
  datetime.textContent = event.date.split('T')[0] + ' ' + event.time;
  doctype.appendChild(datetime);
  result.appendChild(doctype);

  //matter info
  console.log(res);
  if (res.mattertype) {
    const matters = document.createElement('div');
    matters.className = 'matter';
    const mtype = document.createElement('div');
    mtype.textContent = res.mattertype;
    mtype.className = 'mtype ' + res.mattertype.toLowerCase().replaceAll(' ', '-');
    matters.appendChild(mtype);
    const mstatus = document.createElement('div');
    mstatus.textContent = res.matterstatus;
    mstatus.className = 'mstatus ' + res.matterstatus.toLowerCase().replaceAll(' ', '-');
    matters.appendChild(mstatus);
    result.appendChild(matters);
  }

  //meeting links
  const links = document.createElement('div');
  links.className = 'resultLinks';
  const ilink = document.createElement('a');
  ilink.setAttribute('href', event.insiteurl);
  ilink.textContent = 'info';
  links.appendChild(ilink);

  var alink;
  if (event.agenda) {
    alink = document.createElement('a');
    alink.setAttribute('href', event.agenda);
  } else {
    alink = document.createElement('span');
    alink.className = 'not-available';
  }
  alink.textContent = 'agenda';
  links.appendChild(alink);

  var mlink;
  if (event.minutes) {
    mlink = document.createElement('a');
    mlink.setAttribute('href', event.minutes);
  } else {
    mlink = document.createElement('span');
    mlink.className = 'not-available';
  }
  mlink.textContent = 'minutes';
  links.appendChild(mlink);

  result.appendChild(links);

  //title
  const title = document.createElement('h3');
  title.className = 'resultTitle';
  title.textContent = res.agendanumber + ' ' + res.title;
  result.appendChild(title);

  //attachments
  if (res.matterattachments !== '{}') {
    const attachments = JSON.parse(res.matterattachments);
    const atta = document.createElement('div');
    atta.className = 'attachments'
    Object.keys(attachments).forEach((name) => {
      const link = document.createElement('a');
      link.textContent = '\u{1F4CE}' + name;
      link.setAttribute('href', attachments[name]);
      atta.appendChild(link);
    });
    result.appendChild(atta);
  }

  //description
  if (res.actiontext) {
    const desc = document.createElement('div');
    const lines = res.actiontext.split('\n');
    desc.className = 'resultDescription';
    lines.forEach((line) => {
        const p = document.createElement('p');
        p.textContent = line;
        desc.appendChild(p);
    });
    result.appendChild(desc);
  }
  return result;
};

window.onload = () => {
  const acEl = document.getElementById('autoComplete');
  const resEl = document.getElementById('results');
  const filEl = document.getElementById('filters');
  const onType = () => {
    const value = acEl.value;
    resEl.innerHTML = '';
    if (value.length < 1) {
      return;
    }
    const results = search(value);
    results.forEach(res => {
      const result = makeResultElement(res);
      resEl.appendChild(result);

      //expand/close action - needs to be added to document before can check overflow
      if (result.scrollHeight > result.clientHeight) {
        result.classList.add('long');
        result.onclick = () => result.classList.toggle('open');
      }
    });
  };
  acEl.addEventListener('input', onType);
  //call immediatly, so page refresh pulls results
  onType();
};

</script>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Search Mountain View City Meeting Minutes</h1>
      </header>
      <div class="body" align="center">
        <div class="autoComplete_wrapper">
          <input id="autoComplete" type="text" tabindex="1">
        </div>
        <div class="filters">
        </div>
        <div id="results">
        </div>
      </div>
    </div>
  </body>
</html>
